
{% extends 'base.html.twig' %}

    {% block body %}
<fieldset>
<h1>Registration</h1>


        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

            <button type="submit" class="btn btn-outline-primary">Register!</button>
            {{ form_end(form) }}
</fieldset>
    {% endblock %}



