{% extends 'base.html.twig' %}

{% block title 'Bienvenue chez Marmiton' %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Profil des TOI</h1>
        <p>Tous les TOI du monde </p>
    </div>

    <a class="btn btn-primary" href="{{ path('recettes.new') }}">Créer votre profil</a>
    <div>

        {% for recette in recettes %}
        <ul>
            <li>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">Nom du titre : {{ recette.title }}</li>

                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Description : {{ recette.description }}</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Citation : {{ recette.citation }}</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Votre poid : {{ recette.poid }}</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Votre taille: {{ recette.taille }}</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Votre age : {{ recette.age }}</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Vous êtes un/une : {{ recette.sexe }}</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">musique : {{ recette.musique }}</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">film : {{ recette.film }}</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Livres : {{ recette.livre }}</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Activités favorites : {{ recette.activitefavorite }}</a>

            </li>
        </ul>
        {% endfor %}


{% endblock %}