{% extends 'base.html.twig' %}

    {% block head %}

        <style type="text/css">
            .important { color: #336699; }
        </style>
    {% endblock %}

    {% block content %}


{% block title %} Ajouter votre profil {% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('recettes.index') }}">Revenir</a>

    <section>
        <fieldset>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.title, 'Le titre', {'attr': {'class': 'col-md-4 control-label'}} ) }}
                <div class="col-md-5">
                    {{ form_widget(form.title, {'attr': {'placeholder': 'Titre de votre profil', 'class': 'form-control input-md'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.description, 'Description', {'attr': {'class': 'col-md-4 control-label'}} ) }}
                <div class="col-md-5">
                    {{ form_widget(form.description, {'attr': {'placeholder': 'description', 'class': 'form-control input-md'}}) }}
                </div>
            </div>


            <div class="form-group">
                {{ form_label(form.citation, 'Citation', {'attr': {'class': 'col-md-4 control-label'}} ) }}
                <div class="col-md-5">
                    {{ form_widget(form.citation, {'attr': {'placeholder': '0 à 10', 'class': 'form-control input-md'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.poid, 'Votre poid', {'attr': {'class': 'col-md-4 control-label'}} ) }}
                <div class="col-md-5">
                    {{ form_widget(form.poid, {'attr': {'placeholder': 'poid', 'class': 'form-control input-md'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.taille, 'Votre taille', {'attr': {'class': 'col-md-4 control-label'}} ) }}
                <div class="col-md-5">
                    {{ form_widget(form.taille, {'attr': {'placeholder': 'Taille', 'class': 'form-control input-md'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.age, 'Votre age', {'attr': {'class': 'col-md-4 control-label'}} ) }}
                <div class="col-md-5">
                    {{ form_widget(form.age, {'attr': {'placeholder': 'votre age', 'class': 'form-control input-md'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.sexe, 'sexe', {'attr': {'class': 'col-md-4 control-label'}} ) }}
                <div class="col-md-5">
                    {{ form_widget(form.sexe, {'attr': {'placeholder': 'sexe', 'class': 'form-control input-md'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.musique, 'musique', {'attr': {'class': 'col-md-4 control-label'}} ) }}
                <div class="col-md-5">
                    {{ form_widget(form.musique, {'attr': {'placeholder': 'musique', 'class': 'form-control input-md'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.film, 'film', {'attr': {'class': 'col-md-4 control-label'}} ) }}
                <div class="col-md-5">
                    {{ form_widget(form.film, {'attr': {'placeholder': 'film', 'class': 'form-control input-md'}}) }}
                </div>
            </div>


            <div class="form-group">
                {{ form_label(form.livre, 'livre', {'attr': {'class': 'col-md-4 control-label'}} ) }}
                <div class="col-md-5">
                    {{ form_widget(form.livre, {'attr': {'placeholder': 'livre', 'class': 'form-control input-md'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.activitefavorite, 'activité favorite', {'attr': {'class': 'col-md-4 control-label'}} ) }}
                <div class="col-md-5">
                    {{ form_widget(form.activitefavorite, {'attr': {'placeholder': 'activite favorite', 'class': 'form-control input-md'}}) }}
                </div>
            </div>



        </fieldset>
        <button type="submit">Soumettre mon profil</button>
        {{ form_end(form) }}
    </section>

        <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
            <fieldset>


    {% endblock %}
{% endblock %}